body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

.container {
  text-align: center;
  background: white;
  padding: 20px;
  border-radius: 0%;
  box-shadow: 02px10px rgba(0, 0, 0, 0.1);
  border:2px solid black;
  padding: 30px;
}

#timer-display {
  font-size: 48px;
  margin: 20px0;
}

.controls button {
  padding: 10px20px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
}

#status {
  margin-top: 20px;
  font-size: 20px;
  color: #333;
}
.btn{
    background-color: #dd32ff;  
    border: none;  
    color: #000;  
    padding:15px 30px;  
    font-size:16px;  
    border-radius:5px;  
    cursor: pointer;  
    outline: none;  
    position: relative;  
    transition: all0.3s ease; 
}
.btn::after{
    content: '';  
    position: absolute;  
    top:0;  
    left:0;  
    right:0;  
    bottom:0;  
    border-radius:5px;  
    background-color: rgba(255, 0, 234, 0.315); /* Light blue glow */  
    filter: blur(10px);  
    opacity:0;  
    transition: opacity0.3s ease;  
}
.btn:hover::after {  
    opacity:1;  
   } 
   .btn:hover {  
    transform: scale(1.05);  
    color: #000000; /* Changes text color on hover */  
   }  